role-registry-application/src/main/resources/xsdSchemas/cso.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="RoleRegistry"
                  targetNamespace="http://brooks/RoleRegistry.Source.RoleRegistry.ws.provider:RoleRegistry"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soapjms="http://www.w3.org/2008/07/soap/bindings/JMS/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="http://brooks/RoleRegistry.Source.RoleRegistry.ws.provider:RoleRegistry"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://brooks/RoleRegistry.Source.RoleRegistry.ws.provider:RoleRegistry"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://brooks/RoleRegistry.Source.RoleRegistry.ws.provider:RoleRegistry">
            <xsd:complexType name="getRolesForIdentifier">
                <xsd:sequence>
                    <xsd:element name="domain" nillable="true" type="xsd:string"/>
                    <xsd:element name="application" nillable="true" type="xsd:string"/>
                    <xsd:element name="identifier" nillable="true" type="xsd:string"/>
                    <xsd:element name="identifierType" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="changeRolesForIdentifier">
                <xsd:sequence>
                    <xsd:element name="domain" nillable="true" type="xsd:string"/>
                    <xsd:element name="application" nillable="true" type="xsd:string"/>
                    <xsd:element name="identifier" nillable="true" type="xsd:string"/>
                    <xsd:element name="identifierType" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getRolesForIdentifierResponse">
                <xsd:sequence>
                    <xsd:element name="userRoles" nillable="true" type="tns:UserRoles"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UserRoles">
                <xsd:sequence>
                    <xsd:element name="domain" nillable="true" type="xsd:string"/>
                    <xsd:element name="application" nillable="true" type="xsd:string"/>
                    <xsd:element name="identifier" nillable="true" type="xsd:string"/>
                    <xsd:element name="identifierType" nillable="true" type="xsd:string"/>
                    <xsd:element name="roles" nillable="true" type="tns:RegisteredRole" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RegisteredRole">
                <xsd:sequence>
                    <xsd:element name="code" nillable="true" type="xsd:string"/>
                    <xsd:element name="description" nillable="true" type="xsd:string"/>
                    <xsd:element name="type" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getRolesForApplication">
                <xsd:sequence>
                    <xsd:element name="domain" nillable="true" type="xsd:string"/>
                    <xsd:element name="application" nillable="true" type="xsd:string"/>
                    <xsd:element name="type" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="changeRolesForApplication">
                <xsd:sequence>
                    <xsd:element name="domain" nillable="true" type="xsd:string"/>
                    <xsd:element name="application" nillable="true" type="xsd:string"/>
                    <xsd:element name="type" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getRolesForApplicationResponse">
                <xsd:sequence>
                    <xsd:element name="roleResults" nillable="true" type="tns:RoleResults"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RoleResults">
                <xsd:sequence>
                    <xsd:element name="domain" nillable="true" type="xsd:string"/>
                    <xsd:element name="application" nillable="true" type="xsd:string"/>
                    <xsd:element name="roles" nillable="true" type="tns:RegisteredRole" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getRolesForIdentity">
                <xsd:sequence>
                    <xsd:element name="domain" nillable="true" type="xsd:string"/>
                    <xsd:element name="application" nillable="true" type="xsd:string"/>
                    <xsd:element name="userIdentifier" nillable="true" type="xsd:string"/>
                    <xsd:element name="accountIdentifier" nillable="true" type="xsd:string"/>
                    <xsd:element name="identifierType" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="changeRolesForIdentity">
                <xsd:sequence>
                    <xsd:element name="domain" nillable="true" type="xsd:string"/>
                    <xsd:element name="application" nillable="true" type="xsd:string"/>
                    <xsd:element name="userIdentifier" nillable="true" type="xsd:string"/>
                    <xsd:element name="accountIdentifier" nillable="true" type="xsd:string"/>
                    <xsd:element name="identifierType" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getRolesForIdentityResponse">
                <xsd:sequence>
                    <xsd:element name="userRoles" nillable="true" type="tns:UserRoles"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getRolesForIdentity" type="tns:getRolesForIdentity"/>
            <xsd:element name="changeRolesForIdentity" type="tns:changeRolesForIdentity"/>
            <xsd:element name="getRolesForIdentityResponse" type="tns:getRolesForIdentityResponse"/>
            <xsd:element name="getRolesForApplication" type="tns:getRolesForApplication"/>
            <xsd:element name="changeRolesForApplication" type="tns:changeRolesForApplication"/>
            <xsd:element name="getRolesForApplicationResponse" type="tns:getRolesForApplicationResponse"/>
            <xsd:element name="getRolesForIdentifier" type="tns:getRolesForIdentifier"/>
            <xsd:element name="changeRolesForIdentifier" type="tns:changeRolesForIdentifier"/>
            <xsd:element name="getRolesForIdentifierResponse" type="tns:getRolesForIdentifierResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RoleRegistry_PortType_getRolesForIdentity">
        <wsdl:part name="parameters" element="tns:getRolesForIdentity">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RoleRegistry_PortType_getRolesForApplicationResponse">
        <wsdl:part name="parameters" element="tns:getRolesForApplicationResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RoleRegistry_PortType_getRolesForApplication">
        <wsdl:part name="parameters" element="tns:getRolesForApplication">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RoleRegistry_PortType_getRolesForIdentifierResponse">
        <wsdl:part name="parameters" element="tns:getRolesForIdentifierResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RoleRegistry_PortType_getRolesForIdentifier">
        <wsdl:part name="parameters" element="tns:getRolesForIdentifier">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RoleRegistry_PortType_getRolesForIdentityResponse">
        <wsdl:part name="parameters" element="tns:getRolesForIdentityResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RoleRegistry_PortType">
        <wsdl:operation name="getRolesForIdentity">
            <wsdl:input message="tns:RoleRegistry_PortType_getRolesForIdentity">
            </wsdl:input>
            <wsdl:output message="tns:RoleRegistry_PortType_getRolesForIdentityResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRolesForApplication">
            <wsdl:input message="tns:RoleRegistry_PortType_getRolesForApplication">
            </wsdl:input>
            <wsdl:output message="tns:RoleRegistry_PortType_getRolesForApplicationResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRolesForIdentifier">
            <wsdl:input message="tns:RoleRegistry_PortType_getRolesForIdentifier">
            </wsdl:input>
            <wsdl:output message="tns:RoleRegistry_PortType_getRolesForIdentifierResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RoleRegistry_Source_RoleRegistry_ws_provider_RoleRegistry_Binder"
                  type="tns:RoleRegistry_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getRolesForIdentity">
            <soap:operation
                    soapAction="RoleRegistry_Source_RoleRegistry_ws_provider_RoleRegistry_Binder_getRolesForIdentity"
                    style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRolesForApplication">
            <soap:operation
                    soapAction="RoleRegistry_Source_RoleRegistry_ws_provider_RoleRegistry_Binder_getRolesForApplication"
                    style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRolesForIdentifier">
            <soap:operation
                    soapAction="RoleRegistry_Source_RoleRegistry_ws_provider_RoleRegistry_Binder_getRolesForIdentifier"
                    style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RoleRegistry">
        <wsdl:port name="RoleRegistry_Source_RoleRegistry_ws_provider_RoleRegistry_Port"
                   binding="tns:RoleRegistry_Source_RoleRegistry_ws_provider_RoleRegistry_Binder">
            <soap:address
                    location="http://reeks.bcgov:5555/ws/RoleRegistry.Source.RoleRegistry.ws.provider:RoleRegistry/RoleRegistry_Source_RoleRegistry_ws_provider_RoleRegistry_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
